# Maven
target/
*.class

# NetBeans
nbproject/private/
build/
dist/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Temporales
*.tmp
*.bak

# Base de datos local HSQLDB generada automáticamente
data/*.lck
data/*.log
data/*.properties
data/*.script
data/*.tmp
data/*-db.tmp/

# Archivos generados por Maven
target/